.cart-page {
  margin: 80px 80px;
}
.cart-page table {
  width: 100%;
  /* border-collapse: collapse; */
}
.cart-info {
  display: flex;
  /* flex-wrap: wrap; */
}
th {
  text-align: left;
  padding: 5px;
  color: white;
  background: #f25a46e3;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  padding: 5px;
  width: 45px;
  height: 30px;
}
td a {
  font-size: 12px;
  color: #f25a46e3;
}
.image {
  margin-right: 15px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid #f25a46e3;
  /* width: 100%; */
  max-width: 400px;
}
/* jis parent ka last child td hai uspe styles apply karo */
td:last-child {
  text-align: end;
}
th:last-child {
  text-align: end;
}
